@font-face {
  src: url(font/Calligraffitti-Regular.ttf);
  font-family: DancingScript;
}

* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
}
body{
  background: linear-gradient(70deg, rgb(0, 89, 255), rgb(47, 194, 59));
  height: 180vh;
  width: 100vw;
  padding: 0%;
  margin: 0%;
  justify-content: center;

}

/*menu*/
nav {
  font-size: .8em;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.247);
}
/*logo*/
nav .logo {
  color: rgb(1, 253, 98);
  font-size: 35px;
  font-family: 'Calligraffitti', cursive;;
  padding-left: 10px;
}

nav ul {
  float: right;
  margin-right: 35px;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  color: white;
  padding: 0px 15px;
  display: block;
  line-height: 50px;
  background-color: rgba(255, 255, 255, 0);
  transition: 0.4s;
}

nav ul li a:hover,
nav ul li a.activar {
  color: rgb(0, 60, 255);
}

nav ul li:hover>ul {
  top: 50px;
  opacity: 1;
  visibility: visible;
  transition: .4s linear;
}
h1{
  padding-top: 5%;
  color: aliceblue;
  text-align: center;
  padding-bottom: 5%;
}
h2{
  color: rgb(61, 255, 13);
  padding-bottom: 2%;
  text-align: center;
}
/*presentacion*/
.presentacion{
  display: flex;
  justify-content: center;
  padding: 0%;

}
.presentacion img{
  width: 400px;
}
.presentacion div{
  padding-left: 3%;
}
.presentacion div p{
  position: relative;
  top: 40%;
  color: aliceblue;
}

/*formulario*/
h3{
  color: rgb(0, 255, 55);
  text-align: center;
  padding-top: 10px;
  padding-bottom: 15px;
}
.formulario{
  display: flex;
  justify-content: center;
  padding: 0%;
}
.formulario div {
  background-color: rgba(240, 248, 255, 0.192);
  height: 360px;
  width: 70%;
  display: flex;
  justify-content: center;
  padding-top: 1%;
  border-radius: 25px;

}
.formulario div div{
  background-color: rgba(240, 248, 255, 0);
  display: flex;
  justify-content: center;
}
.formulario p{
  color:aliceblue;
  text-align: center;
}
.formulario label{
  font-size: 15px;
}
.formulario input{
  background-color: rgba(240, 248, 255, 0);
  border: none;
  border-bottom: solid white;
  text-align: center;
  color: aliceblue;
}
.formulario input::placeholder{
  color: aliceblue;
  font-size: 15px;
}
/*Botones*/
.botones {
  display: flex;
  justify-content: center;
  padding-top: 1%;
}
.botones button{
  background-color: rgb(0, 81, 255);
  border: none;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  
}
.botones button :hover{
  background-color: rgb(0, 255, 34);
  border: none;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
}
.botones a{
  color: aliceblue;
  text-decoration: none;
}
