@font-face {
  src: url(font/Calligraffitti-Regular.ttf);
  font-family: DancingScript;
}

* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
}
body{
  background: linear-gradient(70deg, rgb(0, 89, 255), rgb(47, 194, 59));
  height: 250vh;
  width: 100vw;
  padding: 0%;
  margin: 0%;
  justify-content: center;

}
h1{
  padding-top: 5%;
  color: aliceblue;
  text-align: center;
  padding-bottom: 5%;
}

/*menu*/
nav {
  font-size: .8em;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.247);
}
/*logo*/
nav .logo {
  color: rgb(1, 253, 98);
  font-size: 35px;
  font-family: 'Calligraffitti', cursive;;
  padding-left: 10px;
}

nav ul {
  float: right;
  margin-right: 35px;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  color: white;
  padding: 0px 15px;
  display: block;
  line-height: 50px;
  background-color: rgba(255, 255, 255, 0);
  transition: 0.4s;
}

nav ul li a:hover,
nav ul li a.activar {
  color: rgb(0, 60, 255);
}

nav ul li:hover>ul {
  top: 50px;
  opacity: 1;
  visibility: visible;
  transition: .4s linear;
}
/*habitacion doble*/
div{
  display: flex;
  justify-content: center;
  padding: 0%;
}
div div{
  background-color: rgba(240, 248, 255, 0.404);
  padding-top:0% ;
  border-radius: 5%;
  padding: 2%;
  width: 80%;
  height: 320px;
}
div div img{
  padding: 0%;
  margin: 0%;
  height: 300px;
  width: 300px;
  border-radius: 20px;
  
}
div div div{
  background-color: rgba(240, 248, 255, 0);
  width: 100%;
  
}
div div div div{
  display: block;
  background-color: rgba(255, 255, 255, 0);
  position: relative;
  top: 35%;
}
h3,p{
  color: aliceblue;
  align-items: center;
}
.disp{
  color: rgb(255, 0, 0);
}
 button{
  background-color: rgb(63, 113, 189);
  margin-top: 15%;
  margin-left: 25%;
  padding: 5%;
  border-radius: 12px;
  border: none;
  
  align-items: center;
}
 button:hover{
  background-color: rgb(0, 255, 115);
}
button a{
  color: aliceblue;
  text-decoration: none;
}