@font-face {
  src: url(font/Calligraffitti-Regular.ttf);
  font-family: DancingScript;
}

* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
}
body{
  background: linear-gradient(70deg, rgb(0, 89, 255), rgb(47, 194, 59));
  height: 100vh;
  width: 100vw;
  padding: 0%;
  margin: 0%;
  justify-content: center;

}

/*menu*/
nav {
  font-size: .8em;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.247);
}
/*logo*/
nav .logo {
  color: rgb(1, 253, 98);
  font-size: 35px;
  font-family: 'Calligraffitti', cursive;;
  padding-left: 10px;
}

nav ul {
  float: right;
  margin-right: 35px;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  color: white;
  padding: 0px 15px;
  display: block;
  line-height: 50px;
  background-color: rgba(255, 255, 255, 0);
  transition: 0.4s;
}

nav ul li a:hover,
nav ul li a.activar {
  color: rgb(0, 60, 255);
}

nav ul li:hover>ul {
  top: 50px;
  opacity: 1;
  visibility: visible;
  transition: .4s linear;
}



h1{
  padding-top: 5%;
  color: aliceblue;
  text-align: center;
  padding-bottom: 5%;
  
}
/*formulario*/
div{
  display: flex;
  justify-content: center;
}
div div {
  background-color: rgba(207, 201, 201, 0.226);
  width: 460px;
  height: 300px;
  color: rgb(255, 255, 255);
  top: 5%;
  display: flex;
  justify-content: center;
  position: relative;
  padding-top: 5%;
  border-radius: 5%;
}
div div div{
  background-color: rgba(255, 255, 255, 0);
}
div div img{
  width: 200px;
  height: 200px;
align-content: center;
padding: 0%;
}


.formulario{
  background-color: rgba(255, 255, 255, 0);
  color: rgb(255, 255, 255);
  top: 5%;
  display: flex;
  justify-content: center;
  position: relative;
  padding-top: 5%;
  border-radius: 5%;
  padding-right: 5%;
}
.formulario p{
  text-align: center;
  
  
}
.formulario input{
  text-align: center;
  border-top:none;
  border-left: none;
  border-right: none;
  border-bottom-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0);
  color: aliceblue;
  padding: 18px;
  padding-bottom: 5px;
  font-size: 15px;
  

}
::-webkit-input-placeholder { 
  color: rgba(255, 255, 255, 0.5);

 } 
 .formulario input[type="submit"]{
   background-color: rgb(63, 113, 189);
   margin-top: 5%;
   padding: 5%;
   border-radius: 12px;
   border-bottom: none;
 }
 .formulario input[type="submit"]:hover{
   background-color: rgb(0, 255, 115);
 }
 .formulario p a{
   color: aliceblue;
   }